.object-preview {
    background-color: rgb(64, 63, 63);
    border-left-color: rgb(33, 33, 33);
    border-right-color: rgb(33, 33, 33);
    border-top-color: rgb(33, 33, 33);
    border-bottom-color: rgb(33, 33, 33);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
